In [1]:
import pandas as pd
import numpy as np


rating_cols = ['user_id', 'anime_id', 'rating']
ratings = pd.read_csv('/Users/brangmai/Desktop/Capstone/modified_data/rating.csv', names=rating_cols, usecols=range(3), encoding="ISO-8859-1")
ratings = ratings[1:]
#ratings.head(50)

anime_cols = ['anime_id', 'name', 'genre', 'type', 'episodes', 'rating']
anime = pd.read_csv('/Users/brangmai/Desktop/Capstone/modified_data/anime.csv', names=anime_cols, usecols=range(6), encoding="ISO-8859-1")
anime = anime[1:]

rated_anime = pd.merge(anime, ratings)
rated_anime.head(5)

/Users/brangmai/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,anime_id,name,genre,type,episodes,rating,user_id
0,124,Fushigi Yuugi: Eikouden,"Adventure, Drama, Fantasy, Romance, Shoujo",OVA,4,7,439
1,124,Fushigi Yuugi: Eikouden,"Adventure, Drama, Fantasy, Romance, Shoujo",OVA,4,7,848
2,124,Fushigi Yuugi: Eikouden,"Adventure, Drama, Fantasy, Romance, Shoujo",OVA,4,7,2377
3,429,Kaleido Star: Legend of Phoenix - Layla Hamilt...,"Comedy, Drama, Shoujo",OVA,1,8,1497
4,429,Kaleido Star: Legend of Phoenix - Layla Hamilt...,"Comedy, Drama, Shoujo",OVA,1,8,1819

In [2]:
anime_type = []
for type_item in rated_anime['type']:
    if type_item not in anime_type:
        anime_type.append(type_item)
        
        
for item in anime_type:
    print(item)

OVA
TV
Movie
Special
Music
ONA

In [3]:
# SEARCH BY TITLE
search_by_title = input("Please, enter anime title: ")

search_title_exist = False
for ani_name in rated_anime['name']:
    if ani_name == search_by_title:
        search_title_exist = True
        print(f'{search_by_title} is found.')
        break

if not search_title_exist:
    print(f'{search_by_title} cannot be found.')

Please, enter anime title: Monster
Monster cannot be found.

In [4]:
i = 1
anime_list = pd.DataFrame(anime)

for col in anime.columns:
    val = list(anime_list[col])
    for v in val:
        if v == search_by_title:
            print(v)

Monster

In [5]:
anime_ratings = rated_anime.pivot_table(index='user_id', columns=['name'], values='rating')
anime_ratings.head(5)

name,Alps no Shoujo Heidi (1979),Aoi Blink,Aoi Sekai no Chuushin de,Binchou-tan,Brothers Conflict OVA,Buzzer Beater 2nd Season,Cheer Danshi!!,City Hunter,Comet Lucifer,Cossette no Shouzou,...,Schwarzesmarken,Sekai de Ichiban Tsuyoku Naritai!,Sex Pistols,Shin Angyo Onshi,Shocking Pink!,Super Seisyun Brothers,Sword Art Online: Extra Edition,Tenkuu Danzai SkelterHeaven,The Everlasting Guilty Crown,Uba
user_id,,,,,,,,,,,,,,,,,,,,,
1013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN
1040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
sword_art_ratings = anime_ratings['Sword Art Online: Extra Edition']
sword_art_ratings = sword_art_ratings.dropna()
sword_art_ratings.head(5)

user_id
1031    7.0
106     7.0
1066    7.0
1132    7.0
1145    7.0
Name: Sword Art Online: Extra Edition, dtype: float64

In [7]:
similar_anime = anime_ratings.corrwith(sword_art_ratings)
#similar_anime = similar_anime.dropna()
data_frame = pd.DataFrame(similar_anime)
data_frame.head(5)

/Users/brangmai/opt/anaconda3/lib/python3.9/site-packages/numpy/lib/function_base.py:2634: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/Users/brangmai/opt/anaconda3/lib/python3.9/site-packages/numpy/lib/function_base.py:2493: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                              0
name
Alps no Shoujo Heidi (1979) NaN
Aoi Blink                   NaN
Aoi Sekai no Chuushin de    NaN
Binchou-tan                 NaN
Brothers Conflict OVA       NaN

In [8]:
import numpy as np

anime_stats = rated_anime.groupby('name').agg({'rating': [np.size, np.mean]})
anime_stats.head(5)

                            rating
                              size         mean
name
Alps no Shoujo Heidi (1979)      1          7.0
Aoi Blink                        2         38.5
Aoi Sekai no Chuushin de        10  666666666.6
Binchou-tan                      2         38.5
Brothers Conflict OVA            2         38.5

In [10]:
popular_anime = anime_stats['rating']['size'] >= 1
popular_anime = anime_stats[popular_anime].sort_values([('rating', 'mean')], ascending=False)
popular_anime.head(5)

                                  rating
                                    size          mean
name
Sword Art Online: Extra Edition       80  9.722222e+77
Little Witch Academia                 72  1.234568e+70
Gekkan Shoujo Nozaki-kun Specials     28  3.174603e+26
Samurai Flamenco                      25  3.111111e+23
Kamisama Hajimemashita OVA            20  4.444444e+18

In [11]:
ratings.head(5)

  user_id anime_id rating
1       1     8074     10
2       1    11617     10
3       1    11757     10
4       1    15451     10
5       2    11771     10

In [16]:
rating_cols = ['user_id', 'anime_id', 'rating']
ratings = pd.read_csv('/Users/brangmai/Desktop/Capstone/modified_data/rating.csv', names=rating_cols, usecols=range(3), encoding="ISO-8859-1")
ratings = ratings[1:]
ratings.head(5)

/Users/brangmai/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

  user_id anime_id rating
1       1     8074     10
2       1    11617     10
3       1    11757     10
4       1    15451     10
5       2    11771     10

In [15]:
import numpy as np

anime_stats = ratings.groupby('anime_id').agg({'rating': [np.size, np.mean]})
anime_stats.head(5)

         rating
           size      mean
anime_id
1          1423  8.889670
5           704  8.375000
6          1006  8.395626
7           285  7.533333
8            41  7.195122

In [14]:
anime_ratings = pd.DataFrame(anime_stats['rating']['size'])
anime_normalized_ratings = anime_ratings.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))
anime_normalized_ratings.head(5)

                                 size
name
Alps no Shoujo Heidi (1979)  0.000000
Aoi Blink                    0.012658
Aoi Sekai no Chuushin de     0.113924
Binchou-tan                  0.012658
Brothers Conflict OVA        0.012658

In [22]:
# import pandas as pd
# modified_anime = anime.drop(columns=['genre'])
# modified_anime.head(10)

In [23]:
genres_in_binary = []
for gen_arr in range(modified_anime.size):
    temp = []
    for zer in range(43):
        temp.append(0)
    genres_in_binary.append(temp)

In [13]:
# READ genres.txt line by line
anime_genres = []
with open('genres.txt') as f:
    
    for line in f:
        line = line.strip('\n')
        anime_genres.append(line) 
        
f.close()

In [26]:
# Compare with user input genres
new_user_rated_anime_genres = ['Action', 'Adventure', 'Drama', 'Music', 'Romance', 'Shoujo Ai', 'Sci-Fi']


for gen_from_user in new_user_rated_anime_genres:
    for i in range(len(anime)):
        for j in range(len(anime_genres)):
            if gen_from_user == anime_genres[j]:
                genres_in_binary[i][j] = 1